body{
	background-color: #aba37e;
}

.header h1{
	padding: 1em;
}
.header p{
	padding: 1em;
	padding-left: 3em;
	font-size:1.2rem;
	padding-bottom:0;

}
.header img{
	padding-left: 3em;
}
.header .row{
	margin:0;
}
a{
	color:#0642a1;
}