#AboutPage {
    background-color: #8a8be0;
}

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}


.about h1{
    color:#fced4d;
    margin: 2em;
}

.about img{
    height: 100%;
    width: 100%; 
    border-radius: 50%;
}

.about span{
    display: block;
    color:#fced4d;
    position: absolute;
    left: 40%;
    padding: 10px;
    
    
}

.about .desc {
    padding: 2em;
    border-top:4px solid #fced4d;
}

.about .desch3{
    color: #10828C;
}

.about .descp{
    line-height:2;
    color:#888;
}

.colored-text {
    color: green;
}


