#AboutPage {
    background-color: #8a8be0;
}

#photoAndDesc{
    padding: 1em;
}
.about h1{
    color:#fced4d;
    margin: 1em;
}

.about img{
    height: 100%;
    width: 100%; 
    border-radius: 50%;
}

.about span{
    display: block;
    color:#fced4d;
    position: absolute;
    left: 40%;
    margin:1em;
    
}

.about .desc {
    margin-top:3em;
    border-top:4px solid #fced4d;
}

.colored-text {
    color: green;
}

.about .desch3 {
    margin: auto;
}

.info {
    padding-top: 1em;
}





